<!DOCTYPE html>
<html>
<head>
    <title>The Good Advisor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="page-background">
<div class="header">
    <h1>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    </h1>
</div>

<div class="logo">
    <img src="{{ url_for('static', filename='images/gsu.png') }}" alt="GSU logo">
</div>

<div class="main-content">
    <div class="status-message" id="statusMessageField">
        Select an input on the right tab.
    </div>
</div>

<div class="right-tab">
    <h2>Student Type</h2>
    <div class="radio-group">
        <label>
            <input type="radio" name="student-type" value="incoming-freshman"> Incoming Freshman
        </label>
        <label>
            <input type="radio" name="student-type" value="existing-credits"> Existing Credits
        </label>
    </div>

    <!-- Options for Incoming Freshman -->
    <div id="incoming-freshman-options" style="display: none;">
        <div>
            <label>
                <input type="radio" name="student-option" value="four-year-plan"> Four Year Plan
            </label>
        </div>
        <div>
            <label>
                <input type="radio" name="student-option" value="prerequisites1"> Pre-requisites for a Course
            </label>
        </div>
        <div>
            <label>
                <input type="radio" name="student-option" value="software-engineering1"> Software Engineering Coursework
            </label>
        </div>
    </div>

    <!-- Options for Existing Credits -->
    <div id="existing-credits-options" style="display: none;">
        <div class="checkbox-group">
            <label>
                <input type="checkbox" name="course-taken" value="Precalculus"> MATH 1113</label>
            <label>
                <input type="checkbox" name="course-taken" value="Calculus of One Variable I"> MATH 2211</label>

            <label>
                <input type="checkbox" name="course-taken" value="Calculus of One Variable II"> MATH 2212
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Multivariate Calculus"> MATH 2215
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Principles of Computer Science I"> CSC 1301
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Principles of Computer Science II"> CSC 1302
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Theoretical Foundations of Computer Science"> CSC 2510
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Discrete Mathematics"> MATH 2420
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Linear Algebra I"> MATH 2641
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Data Structures"> CSC 2720
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Applied Probability and Statistics for Computer Science"> MATH 3020
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Computer Organization and Programming"> CSC 3210
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="System-Level Programming"> CSC 3320
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Software Development-CTW"> CSC 3350
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Operating Systems"> CSC 4320
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Programming Language Concepts"> CSC 4330
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Capstone Senior Design I-CTW"> CSC 4351
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Capstone Senior Design II-CTW"> CSC 4352
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Design and Analysis of Algorithms"> CSC 4520
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Fundamentals of Data Science"> CSC 4780
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Database Systems"> CSC 4710
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Data Visualization"> CSC 4730
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Data Mining"> CSC 4740
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Design and Analysis of Algorithms"> CSC 4520
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Big Data Programming"> CSC 4760
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Machine Learning"> CSC 4850
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Fundamentals of Cybersecurity"> CSC 4222
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Computer Networks"> CSC 4220
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Mobile Computing and Wireless Network Security"> CSC 4221
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Privacy"> CSC 4223
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Secure Software Engineering"> CSC 4226
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Network Security "> CSC 4227
            </label>
            <label>
                <input type="checkbox" name="course-taken" value="Computer Forensics"> CSC 4251
            </label>
        </div>
<div id="ExistingCredits2-options" style="display: none;">
    <div id="existing-credits-container">
            <label>
                <input type="radio" name="existing-option" value="Pre-Req For Course"> Pre-Req For Course
            </label>
                <input type="radio" name="existing-option" value="Software Engineering Internship"> Software Engineering Internship
                <label>
            <label>
                <input type="radio" name="existing-option" value="Remaining Plan"> Remaining Plan
            </label>
            </label>
    </div>
        </div>

<div id="preReqForCourse-options" style="display: none;">
    <div id="pre-req-options-container">
        <label>
            <input type="radio" name="course-taken" value="Precalculus"> MATH 1113</label>
        <label>
            <input type="radio" name="course-taken" value="Calculus of One Variable I"> MATH 2211</label>

        <label>
            <input type="radio" name="course-taken" value="Calculus of One Variable II"> MATH 2212
        </label>
        <label>
            <input type="radio" name="course-taken" value="Multivariate Calculus"> MATH 2215
        </label>
        <label>
            <input type="radio" name="course-taken" value="Principles of Computer Science I"> CSC 1301
        </label>
        <label>
            <input type="radio" name="course-taken" value="Principles of Computer Science II"> CSC 1302
        </label>
        <label>
            <input type="radio" name="course-taken" value="Theoretical Foundations of Computer Science"> CSC 2510
        </label>
        <label>
            <input type="radio" name="course-taken" value="Discrete Mathematics"> MATH 2420
        </label>
        <label>
            <input type="radio" name="course-taken" value="Linear Algebra I"> MATH 2641
        </label>
        <label>
            <input type="radio" name="course-taken" value="Data Structures"> CSC 2720
        </label>
        <label>
            <input type="radio" name="course-taken" value="Applied Probability and Statistics for Computer Science"> MATH 3020
        </label>
        <label>
            <input type="radio" name="course-taken" value="Computer Organization and Programming"> CSC 3210
        </label>
        <label>
            <input type="radio" name="course-taken" value="System-Level Programming"> CSC 3320
        </label>
        <label>
            <input type="radio" name="course-taken" value="Software Development-CTW"> CSC 3350
        </label>
        <label>
            <input type="radio" name="course-taken" value="Operating Systems"> CSC 4320
        </label>
        <label>
            <input type="radio" name="course-taken" value="Programming Language Concepts"> CSC 4330
        </label>
        <label>
            <input type="radio" name="course-taken" value="Capstone Senior Design I-CTW"> CSC 4351
        </label>
        <label>
            <input type="radio" name="course-taken" value="Capstone Senior Design II-CTW"> CSC 4352
        </label>
        <label>
            <input type="radio" name="course-taken" value="Design and Analysis of Algorithms"> CSC 4520
        </label>
        <label>
            <input type="radio" name="course-taken" value="Fundamentals of Data Science"> CSC 4780
        </label>
        <label>
            <input type="radio" name="course-taken" value="Database Systems"> CSC 4710
        </label>
        <label>
            <input type="radio" name="course-taken" value="Data Visualization"> CSC 4730
        </label>
        <label>
            <input type="radio" name="course-taken" value="Data Mining"> CSC 4740
        </label>
        <label>
            <input type="radio" name="course-taken" value="Design and Analysis of Algorithms"> CSC 4520
        </label>
        <label>
            <input type="radio" name="course-taken" value="Big Data Programming"> CSC 4760
        </label>
        <label>
            <input type="radio" name="course-taken" value="Machine Learning"> CSC 4850
        </label>
        <label>
            <input type="radio" name="course-taken" value="Fundamentals of Cybersecurity"> CSC 4222
        </label>
        <label>
            <input type="radio" name="course-taken" value="Computer Networks"> CSC 4220
        </label>
        <label>
            <input type="radio" name="course-taken" value="Mobile Computing and Wireless Network Security"> CSC 4221
        </label>
        <label>
            <input type="radio" name="course-taken" value="Privacy"> CSC 4223
        </label>
        <label>
            <input type="radio" name="course-taken" value="Secure Software Engineering"> CSC 4226
        </label>
        <label>
            <input type="radio" name="course-taken" value="Network Security "> CSC 4227
        </label>
        <label>
            <input type="radio" name="course-taken" value="Computer Forensics"> CSC 4251
        </label>
    </div>

</div>
    </div>
    <button type="button" id="submitButton">Send</button>
</div>

<!-- Input Message Field -->
<input type="text" placeholder="Input Message Field" id="inputMessageField" style="display: none;">

<!-- Output Message Field -->
<div class="output-message" id="outputMessageField" style="display: none;">
    <!-- Output message content goes here -->
</div>

<!-- Include the JavaScript file -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

