<!DOCTYPE html>
<html>
  <head>
    <title>The Good Advisor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="page-background">
    <div class="header">
      <h1>
        <a href="{{ url_for('index') }}" class="plain-link">The<br />Good<br />Advisor</a
        >
      </h1>
    </div>

    <div class="logo">
    </body>
    <img src="{{ url_for('static', filename='images/gsu.png') }}" alt="The Good Advisor">
    </div>

    <div class="main-content">
      <div class="status-message" id="statusMessageField">
        Select an input on the right tab.
      </div>
    </div>

    <div class="right-tab">
      <h2>Student Type</h2>
      <div class="radio-group">
        <label>
          <input type="radio" name="student-type" value="incoming-freshman" />
          Incoming Freshman With 0 Credit Hours
        </label>
        <label>
          <input type="radio" name="student-type" value="existing-credits" /> I
          have AP/Dual Enrollment Credits
        </label>
      </div>

      <!-- Options for Incoming Freshman -->
      <div id="incoming-freshman-options" style="display: none">
        <div id="freshman-Container">
          <div>
            <label>
              <input
                type="radio"
                name="student-option"
                value="four-year-plan"
              />
              A Four Year Plan
            </label>
          </div>
          <div>
            <label>
              <input
                type="radio"
                name="student-option"
                value="prerequisites1"
              />
              Prerequisites for a Course
            </label>
          </div>

          <div>
            <label>
              <input
                type="radio"
                name="student-option"
                value="software-engineering1"
              />
              Software Engineering Coursework
            </label>
          </div>
        </div>
      </div>

      <div id="freshplan-select-your-plan" style="display: none">
        <div id="freshman-Container">
          <div>
            <label>
              <input
                type="radio"
                name="student-optionPlan4Year"
                value="data-science-certificate"
              />
              Data Science Certificate
            </label>
          </div>

          <div>
            <label>
              <input
                type="radio"
                name="student-optionPlan4Year"
                value="cybersecurity-certificate"
              />
              CyberSecurity Certificate
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="student-optionPlan4Year" value="none" />
              None
            </label>
          </div>
        </div>
      </div>

      <!-- Options for Existing Credits -->
      <div id="existing-credits-options" style="display: none">
        <div class="checkbox-group">
          <label>
            <input type="checkbox" name="course-taken" value="MATH 1113" alt="Precalculus" />
            MATH 1113</label
          >
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="MATH 2211"
              alt"Calculus of One Variable I"
            />
            MATH 2211</label
          >

          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="MATH 2212"
              alt="Calculus of One Variable II"
            />
            MATH 2212
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="MATH 2215"
              alt="Multivariate Calculus"
            />
            MATH 2215
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 1301"
              alt="Principles of Computer Science I"
            />
            CSC 1301
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 1302"
              alt="Principles of Computer Science II"
            />
            CSC 1302
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 2510"
              alt="Theoretical Foundations of Computer Science"
            />
            CSC 2510
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="MATH 2420"
              alt="Discrete Mathematics"
            />
            MATH 2420
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="MATH 2641"
              alt="Linear Algebra I"
            />
            MATH 2641
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 2720"
              alt="Data Structures"
            />
            CSC 2720
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="MATH 3020"
              alt="Applied Probability and Statistics for Computer Science"
            />
            MATH 3020
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 3210"
              alt="Computer Organization and Programming"
            />
            CSC 3210
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 3320"
              alt="System-Level Programming"
            />
            CSC 3320
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 3350"
              alt="Software Development-CTW"
            />
            CSC 3350
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4320"
              alt="Operating Systems"
            />
            CSC 4320
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4330"
              alt="Programming Language Concepts"
            />
            CSC 4330
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4351"
              alt="Capstone Senior Design I-CTW"
            />
            CSC 4351
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4352"
              alt="Capstone Senior Design II-CTW"
            />
            CSC 4352
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4520"
              alt="Design and Analysis of Algorithms"
            />
            CSC 4520
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4780"
              alt="Fundamentals of Data Science"
            />
            CSC 4780
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4710"
              alt="Database Systems"
            />
            CSC 4710
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4730"
              alt="Data Visualization"
            />
            CSC 4730
          </label>
          <label>
            <input type="checkbox" name="course-taken" value="CSC 4710"
            alt="Data Mining" />
            CSC 4740
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4520"
              alt="Design and Analysis of Algorithms"
            />
            CSC 4520
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4760"
              alt="Big Data Programming"
            />
            CSC 4760
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4850"
              alt="Machine Learning"
            />
            CSC 4850
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4222"
              alt="Fundamentals of Cybersecurity"
            />
            CSC 4222
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4220"
              alt="Computer Networks"
            />
            CSC 4220
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4221"
              alt="Mobile Computing and Wireless Network Security"
            />
            CSC 4221
          </label>
          <label>
            <input type="checkbox" name="course-taken" value="CSC 4223"
            alt="Privacy" /> CSC 4223
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4226"
              alt="Secure Software Engineering"
            />
            CSC 4226
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4227"
              alt="Network Security "
            />
            CSC 4227
          </label>
          <label>
            <input
              type="checkbox"
              name="course-taken"
              value="CSC 4251"
              alt="Computer Forensics"
            />
            CSC 4251
          </label>
        </div>

        
        <div id="ExistingCredits2-options" style="display: none">
          <div id="existing-credits-container">
            <div>
              <label>
                <input
                  type="radio"
                  name="existing-option"
                  value="Pre-Req For Course"
                />
                Pre-Req For Course
              </label>
            </div>
            <div>
              <label>
                <input
                  type="radio"
                  name="existing-option"
                  value="Software Engineering Internship"
                />
                Software Engineering Internship
              </label>
            </div>
            <div>
              <label>
                <input
                  type="radio"
                  name="existing-option"
                  value="Remaining Plan"
                />
                Remaining Plan
              </label>
            </div>
          </div>
        </div>
        <div id="ExistingCredits2-RemainingPlan" style="display: none">
          <div id="existing-credits-container">
            <div>
              <label>
                <input
                  type="radio"
                  name="existing-option"
                  value="datascience-cert"
                />
                Data Science Certificate
              </label>
            </div>

            <div>
              <label>
                <input
                  type="radio"
                  name="existing-option"
                  value="cyber-security-cert"
                />
                CyberSecurity Certificate
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="existing-option" value="none" /> None
              </label>
            </div>
          </div>
        </div>

        <div id="preReqForCourse-options" style="display: none">
          <div id="pre-req-options-container">
            <label>
              <input type="checkbox" name="find-prereqs" value="MATH 1113" alt="Precalculus" />
              MATH 1113</label
            >
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="MATH 2211"
              alt"Calculus of One Variable I"
              />
              MATH 2211</label
            >

            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="MATH 2212"
                alt="Calculus of One Variable II"
              />
              MATH 2212
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="MATH 2215"
              alt="Multivariate Calculus"
              />
              MATH 2215
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 1301"
              alt="Principles of Computer Science I"
              />
              CSC 1301
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 1302"
                alt="Principles of Computer Science II"
              />
              CSC 1302
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 2510"
              alt="Theoretical Foundations of Computer Science"
              />
              CSC 2510
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="MATH 2420"
                alt="Discrete Mathematics"
              />
              MATH 2420
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="MATH 2641"
              alt="Linear Algebra I"
              />
              MATH 2641
            </label>
            <label>
              <input type="checkbox" name="find-prereqs" value="CSC 2720"
              alt="Data Structures" />
              CSC 2720
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="MATH 3020"
              alt="Applied Probability and Statistics for Computer Science"
              />
              MATH 3020
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 3210"
                alt="Computer Organization and Programming"  
              />
              CSC 3210
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 3320"
              alt="System-Level Programming"
              />
              CSC 3320
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 3350"
              alt="Software Development-CTW"
              />
              CSC 3350
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4320"
              alt="Operating Systems"
              />
              CSC 4320
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4330"
              alt="Programming Language Concepts"
              />
              CSC 4330
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4351"
                alt="Capstone Senior Design I-CTW"
              />
              CSC 4351
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4352"
              alt="Capstone Senior Design II-CTW"
              />
              CSC 4352
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4520"
              alt="Design and Analysis of Algorithms"
              />
              CSC 4520
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4780"
              alt="Fundamentals of Data Science"
              />
              CSC 4780
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4710"
                alt="Database Systems"
              />
              CSC 4710
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4730"
              alt="Data Visualization"
              />
              CSC 4730
            </label>
            <label>
              <input type="checkbox" name="find-prereqs"  value="CSC 4710"
              alt="Data Mining" 
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4520"
              alt="Design and Analysis of Algorithms"
              />
              CSC 4520
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4760"
              alt="Big Data Programming"
              />
              CSC 4760
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4850"
                alt="Machine Learning"
              />
              CSC 4850
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4222"
              alt="Fundamentals of Cybersecurity"
              />
              CSC 4222
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4220"
              alt="Computer Networks"
              />
              CSC 4220
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4221"
              alt="Mobile Computing and Wireless Network Security"
              />
              CSC 4221
            </label>
            <label>
              <input type="checkbox" name="find-prereqs"  value="CSC 4223"
              alt="Privacy" /> CSC
              4223
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4226"
                alt="Secure Software Engineering"
              />
              CSC 4226
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
                value="CSC 4227"
              alt="Network Security"
              />
              CSC 4227
            </label>
            <label>
              <input
                type="checkbox"
                name="find-prereqs"
              value="CSC 4251"
              alt="Computer Forensics"
              />
              CSC 4251
            </label>
          </div>
        </div>
      </div>
      <button type="button" id="submitButton">Send</button>
    </div>

    <!-- Input Message Field -->
    <input
      type="text"
      placeholder="Input Message Field"
      id="inputMessageField"
      style="display: none"
    />

    <!-- Output Message Field -->
    <div class="output-message" id="outputMessageField" style="display: none">
      <!-- Output message content goes here -->
    </div>
        <!-- Include jQuery (you can use other libraries or vanilla JS) -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
